$font: 'Montserrat', sans-serif;
@mixin breakpoint-lg{
  @media only screen and (max-width:1200px){
    @content;
  }
}
@mixin breakpoint-md{
  @media only screen and (max-width:992px){
    @content;
  }
}
@mixin breakpoint-sm{
  @media only screen and (max-width:768px){
    @content;
  }
}
@mixin breakpoint-xs{
  @media only screen and (max-width:576px){
    @content;
  }
}

.header-container{
  background-image: url('../img/bg-header.png');
  
  background-repeat: no-repeat;
  @include breakpoint-md {
    background-size: cover;
  }
  @include breakpoint-sm {
   padding-bottom: 50px;
  }
  
}
.viget-telegram{
  width: 100px;
  height:100px;
  position: fixed;
  top:85%;
  right:15%;
  z-index: 100;
  
  @include breakpoint-md {
    width: 80px;
    height: 80px;
  }
  @include breakpoint-md {
    right:5%;
  }
}
.hidden-menu{
  margin-top: 30px;
  display:none;
}
.promo-bttn-menu{
  @extend .promo-bttn;
  margin-top: 30px;
  width: 90%;
  button{
    padding: 10px 0 !important;
    width: 100%;
  }
}
.whitepaper-bttn-menu{
  @extend .whitepaper-bttn;
  margin-bottom: 30px;
  padding: 10px 0 !important;
    width: 100%;
}
.whitepaper-bttn-div{
  width: 90%;
}
.fixed-header{
  
  z-index: 99999999;
  padding: 10px 15px;
  transition:.5s;
}
.not-showed{
  display: none;
}
.showed{
  display: flex;
}
.blue{
  top: 0 !important;
  background-color: #0674B2;
}
.bg-linear{
  background: linear-gradient(to bottom,#19584C,#052741)
}
.menu-button-div{
  width: 90%;
}
.menu-button{
  font-family: $font;
  font-size: 17px;
  font-weight: 700;
  text-align: left;
  color: #fff;
  border:none;
  background-color: transparent;
  background-image: url(../img/menu-arrow.png);
  background-position-x:95%;
  background-position-y:center;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 0px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  &:focus{
    outline: none;
  }
}
.header{
  padding-top: 150px; 
  padding-bottom: 215px;
  @include breakpoint-xs {
    padding-bottom: 150px;
    padding-top: 80px;
  }
}
.header-links-container{
  top:5px;
  padding: 5px 0;
  

  transition: .5s;
  @include breakpoint-md {
   
  }
}
.header-links{
  
  max-width: 1140px;
  margin:0 auto;
  
  @include breakpoint-md {
   
  }
}
.header-logo{
   @include breakpoint-sm {
    margin-bottom: 20px;
  }
}
.menu-point-1{
  font-family: $font;
  font-size: 14px;
  font-weight: bold;
  p{
    margin: 0;
  }
  a{
    color: #fff;
    &:hover{
      text-decoration: none;
    }
  }
  &:hover{
    &::after{
      content: '';
      width: 97px;
      height: 5px;
      background-color: #F7AC05;
      position: absolute;
    }
  }
}
.menu-point-2{
  @extend .menu-point-1;
  &:hover{
    &::after{
      width: 40px;
    }
  }
}
.menu-point-3{
  @extend .menu-point-1;
  &:hover{
    &::after{
      width: 70px;
    }
  }
}
.menu-point-4{
  @extend .menu-point-1;
  &:hover{
    &::after{
      width: 90px;
    }
  }
}
.signBttn{
  font-family: $font;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border:none;
  border-radius: 20px;
  padding:9px 48px;
  box-shadow: 0 3px 1px rgba(0,0,0,.14);
  background: linear-gradient(to top, #FA940A,#F5CF00 );
  &:hover{
    box-shadow: inset 0 -3px 7px rgba(0,0,0,.14);
  }
  &:focus{
    outline: none;
  }
}

.header-slogan{
  color:#112A7C;
  font-size: 44px;
  font-family: $font;
  font-weight: 900;
  margin-bottom: 0px;
  @include breakpoint-xs {
    color: #112A7C;
    font-size: 20px; 
  }
  p{
    margin-bottom: 0px;
  }
  
}
.slogan-text{
  color:#fff;
  font-size: 55px;
  font-family: $font;
  font-weight: 900;
  margin-bottom: 0;
  @include breakpoint-xs {
    color: #fff;
    font-size: 29px; 
  }

}
.header-after-line{
  &:after{
    content: '';
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: #F5AA00;
    left:15px;
    top: 76%;
    @include breakpoint-md {
      top: 85%;
    }
    @include breakpoint-sm {
      top: 75%;
    }
    @include breakpoint-xs {
      display: none;
    }
  }
}
.header-text{
  color: #fff;
  font-size: 30px;
  font-family: $font;
  font-weight: 400;
  padding-right: 60px;
  margin-top: 20px;
  margin-left: 30px;
  @include breakpoint-xs {
    font-size: 18px; 
  }
  p{
    margin: 0;
  }
 
} 
.header-promo{
  background: linear-gradient(150deg, #01ABDB,#03609D );
  border-radius: 30px;
  padding:30px 0px;
  padding-bottom: 35px;
  @include breakpoint-md {
    margin-top: 30px; 
  }
}
.promo-heading{
  color: #fff;
  font-size: 27px;
  font-family: $font;
  font-weight: 500;
  @include breakpoint-xs {
    font-size: 17px; 
    p{
      margin-bottom: 5px;
    }
  }
}
.timer-circle{
  min-width: 83px;
  font-family: $font;
  font-size: 30px;
  color: #fff;
  font-weight: 500;
  border-radius: 50%;
  border:5px solid rgba(255, 255, 255, 0.2);
  padding:15px 20px;
  p{
    margin:0;
  } 
  @include breakpoint-xs {
    min-width: 50px;
    font-size: 24px; 
    padding:5px 8px;
    border:3px solid rgba(255, 255, 255, 0.2);
  }
}
.unit-div{
  width: 94%;
  @include breakpoint-sm {
    width: 100%;
  }
  @include breakpoint-xs {
    width: 90%;
  }
}
.timer-unit{
  width: 25%;
  font-family: $font;
    font-size: 10px;
    color: #fff;
    font-weight: 500;
}


.timer-points{
  font-family: $font;
  font-size: 50px;
  color: #fff;
  font-weight: 400;
  p{
    margin: 0;
  }
  margin: 0 5px;
  @include breakpoint-xs {
  font-size: 30px; 
    
  }
}
.header-promo-price{
  
  background-color: #1280B6;
  margin-top: 15px;
  padding: 5px 20px;
  border-radius: 40px;
  width: 90%;
  position: relative;
  p{
    margin: 0;
  }

}
.pre-label{
  font-family: $font;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  @include breakpoint-xs {
  font-size: 9px; 
  }
}
.ico-label{
  @extend .pre-label;
}
.presale-price{
  position: absolute;
  left: 0;
  top: 0;
  font-family: $font;
  font-size: 28px;
  color: #fff;
  font-weight: 700;
  background: linear-gradient(210deg,  #01AEDC,#026FA9);
  border-radius: 40px;
  padding:5px 25px;
  @include breakpoint-sm {
  padding:5px 15px;
  }
  @include breakpoint-xs {
  font-size: 16px; 
  padding:5px 10px;
  }
}
.ico-price{
  font-family: $font;
  font-size: 28px;
  color: #fff;
  font-weight: 300;
  @include breakpoint-xs {
  font-size: 16px; 
  }
}
.exchange-date{
  font-family: $font;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  margin-top: 5px;
}
.label-input{
  font-family: $font;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  p{
    margin:0;
  }
  margin-top: 5px;
  margin-left: 25px;
}
.header-form{
  position: relative;
  background-color: #fff;
  border-radius: 30px;
  padding: 15px 0;
  height: 66px;

}
.email-send{
  position: absolute;
  top: 17px;
  right: 25%;
  font-family: $font;
  font-size: 20px;
  font-weight: 700;
  color: #035d9b;
}
.join-bttn{
  position: absolute;
  left:219px;
  top: 0;
  font-family: $font;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border:none;
  border-radius: 30px;
  padding:21px 40px;
  transition:1s;
  background: linear-gradient(to right, #FC3D00,#F5AA00 );

  &:focus{
    outline: none;
  }
  @include breakpoint-lg {
  left:224px;
  }
  @include breakpoint-sm {
  left:193px;
  }
}
.join-input-div{
  width: 55%;
  margin-left: 5px;
}
.join-input{
  height: 100%;
  width: 100%;
  border:none;
  padding: 5px 0;
  &:focus{
    outline: none;
  }
  &::-webkit-input-placeholder {
    font-family: $font;
    font-size: 14px;
    font-weight: 500;
    color: #6A6A6A;
  }
  &::-moz-placeholder{
    font-family: $font;
    font-size: 14px;
    font-weight: 500;
    color: #6A6A6A;
  }
  &:-ms-input-placeholder{
    font-family: $font;
    font-size: 14px;
    font-weight: 500;
    color: #6A6A6A;
  }
  
}

.promo-bttn{
  button{
  font-family: $font;
  font-size: 29px;
  font-weight: 700;
  color: #fff;
  border:none;
  border-radius: 30px;
  padding:10px 55px;
  
  background: linear-gradient(to right, #FA940A,#F5CF00 );
  margin-bottom: 30px;
  &:hover{
    
  }
  &:focus{
    outline: none;
  }
  @include breakpoint-xs {
  font-size: 17px; 
  margin-bottom: 15px;
  }
  }
}
.promo-bttn-header{
  @extend .promo-bttn;
  button{
    margin-bottom: 0;
  margin-top: 30px;
  }
  
}

.text-header-xs{
  color: #fff;
  font-size: 20px;
  font-family: $font;
  font-weight: 900;
  margin-top: 20px;
}
.header-reasons{
  margin-top: 100px;
  @include breakpoint-sm {
    margin-top: 45px;
  }
}
.reasons-container{
  color: #fff;
  font-size: 21px;
  font-family: $font;
  font-weight: 700;
  button{
    background-color: transparent;
    border:none;
    color: #112A7C;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    outline: none;
    &:hover{
      font-weight: 700;
      outline: none;
    }
    &:focus{
      outline: none;
    }
    @include breakpoint-sm {
    font-size: 14px;
  }
  }
  @include breakpoint-sm {
    font-size: 16px;
  }
}
.whitepaper-bttn{
  
  font-family: $font;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border:1px solid #fff;
  border-radius: 30px;
  padding:12px 75px;
  
  background-color: transparent;
  
  &:hover{
    background-color: rgba(255,255,255,.3);
  }
  &:focus{
    outline: none;
  }
  

}
.header-social{
  margin-top: 50px;
}
.social-icon{
  width: 45px;
  opacity: .5;

}
.close{
  font-size: 2.5rem;
  &:focus{
    outline: none;
  }

}
.my-modal{
  padding: 20px 30px;
  border-radius: 20px;
  font-size: 16px;
  font-family: $font;
  font-weight: 500;
  color: #000000;
  b{
    font-weight: 900;
  }
}
.my-modal-header{
  font-size: 29px;
  font-weight: 900;
  margin-bottom: 40px;
  &:after{
    content: '';
    position: absolute;
    width: 165px;
    height: 7px;
    background-color: #F5AA00;
  }
}
.negative-margin{
 
  margin-top: -130px;
  
  

}
.users-container{
   
  background-image: url("../img/Users_bg.png");
  padding:50px 80px 135px 0;
  font-weight: 500;
  font-family: $font;
  color:#fff;
  font-size: 30px;
  z-index: 1;
  border-top-left-radius: 125px;
  border-top-right-radius: 0px;
  background-size: cover;
  @include breakpoint-lg {
    padding:50px 20px 135px 0;
  }
  @include breakpoint-md {
    border-top-left-radius: 105px;
  }
  @include breakpoint-sm {
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    margin-top: -40px;
  }
  @include breakpoint-xs {
    border-top-left-radius: 40px !important;
    border-top-right-radius: 40px;
    
  }

}
.users-number{
  font-size: 120px;
  font-weight: 900;
  line-height: 1;
  @include breakpoint-xs {
    font-size: 73px;
  }
}
.users-unit{
  font-size: 36px;
  font-weight: 900;
  max-width: 260px;
  @include breakpoint-sm {
    max-width: 135px;
  }
  @include breakpoint-xs {
    font-size: 25px;
  }
}
.users-heading{
  margin-bottom: 5px;
  white-space: pre-wrap;
  @include breakpoint-xs {
    font-size: 20px;
  }
}
.market-container{
  @extend .users-container;
  background-image: url("../img/Market_bg.png");
  padding-left: 80px;
  border-top-right-radius: 125px;
  border-top-left-radius: 0px;
  @include breakpoint-lg {
    padding-left: 20px;
  }
  @include breakpoint-md {
    border-top-right-radius: 105px;
  }
  
  @include breakpoint-sm {
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    margin-top: -75px;
  }
  @include breakpoint-xs {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    
  }

}
.market-number{
  @extend .users-number;
}
.market-unit{
  @extend .users-unit;
  line-height: 1;
}
.market-heading{
  @extend .users-heading;
}
.description-container{
  margin-top: -112px;
  position: relative;
  background-color: #fff;
  z-index: 2;
  border-top-left-radius: 125px;
  border-top-right-radius: 125px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-top:90px;
  padding-bottom: 190px;
  
  background-image: url('../img/bg-description.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include breakpoint-md {
    border-top-left-radius: 105px;
    border-top-right-radius: 105px;
    padding-top: 80px;
  }
  @include breakpoint-sm {
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    padding-top: 60px;
  }
  @include breakpoint-xs {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-top: 30px;
  }
}
.description-heading{
  font-family: $font;
  font-size: 47px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 30px;

  &:after{
    content: '';
    position: absolute;
    width: 165px;
    height: 7px;
    background-color: #F5AA00;
  }
  @include breakpoint-xs {
    font-size: 29px;
  }
}
.description-text{
  font-family: $font;
  font-size: 28px;
  font-weight: 400;
  color: #fff;
  
  @include breakpoint-xs {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}


.feature-number{
  font-family: $font;
  font-size: 90px;
  font-weight: 900;
  color: #fff;
  white-space: pre;
  margin-right: 20px;
  @include breakpoint-xs {
    font-size: 50px;
  }
}
.feature-name{
  font-family: $font;
  font-size: 36px;
  font-weight: 900;
  color: #fff;
  white-space: pre-wrap;
@include breakpoint-md {
    white-space: normal;
  }
  @include breakpoint-xs {
    width: 80%;
    font-size: 22px;
  }
}
.explanation-container{
  @extend.description-container;
  background-image: url('../img/bg-explanation.png');
  background-position-y: 10%;
  margin-top: -170px;
  
  z-index: 3;
  padding-bottom: 240px;
  @include breakpoint-md {
    padding-bottom: 200px;
  }
}
.explanation-heading{
  @extend .description-heading;
  color: #fff;
}
.explanation-text{
  @extend.description-text; 
  color: #fff;
  margin-bottom: 50px;
}
.explain-icon{
  
  width:20%;
  @include breakpoint-md {
    width:100%;
  }
  @include breakpoint-xs {
    max-width: 130px;
    min-width: 120px;
  }
}
.explain-text{
  width: 20%;
  margin-top: 50px;
  font-family: $font;
  font-size: 16px;
  font-weight: 500;
  color: #fff; 
}
.md-explain-text{
  @extend .explain-text; 
  width:auto;
  @include breakpoint-xs {
    font-size: 14px;
    font-weight: 300;
    margin-top: 30px;
  }
}
.explain-icon-container-1{
  padding: 35px;
  border-radius: 50%;
  background: linear-gradient( to right, rgba(13, 92, 160, 0.4),rgba(12, 38, 96, 0.4) );
  @include breakpoint-xs {
    width: 100%;
    max-width: 170px;
  }
}
.explain-icon-container-2{
  border-radius: 50%;
  padding: 40px;
  background: linear-gradient( to right, rgba(13, 92, 160, 0.4),rgba(12, 38, 96, 0.4) );
  @include breakpoint-xs {
    width: 70%;
    max-width: 170px;
  }
}
.explain-icon-container-3{
  padding: 35px;
  border-radius: 50%;
  background: linear-gradient( to right, rgba(13, 92, 160, 0.4),rgba(12, 38, 96, 0.4) );
  @include breakpoint-xs {
    width: 120%;
    max-width: 170px;
    margin-top: 10px;
  }
}
.explain-row-md{
  margin-top: 40px;
}

.token-container{
  @extend.description-container;
  margin-top: -125px;
  background-image: url('../img/token_bg.png');
  background-position: center;
  background-size: cover;
  background-color: #0C2559;
  z-index: 4;
  @include breakpoint-sm {
    padding-bottom: 160px;
  }
}
.margin-top{
  margin-top: 40px;
  margin-bottom: 0 !important;
}
.token-heading{
  @extend .description-heading;
  color: #fff;
  margin-bottom: 80px;
  &:after{
    content: '';
    position: absolute;
    width: 165px;
    height: 7px;
    background-color: #F5AA00;
  }
  @include breakpoint-lg {
    margin-bottom: 40px;
  }
  @include breakpoint-md {
    margin-bottom: 0px;
  }
}
.token-icons{
  font-family: $font;
  font-size: 28px;
  font-weight: 700;
  color: #fff; 
  margin-bottom: 50px;
}
.token-text{
  font-family: $font;
  font-size: 16px;
  font-weight: 500;
  color: #fff; 
  
  &:before{
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: #fff;
    top:30%;
    left: -100px;

  }
  @include breakpoint-md {
    &:before{
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #fff;
    top:30%;
    left: -60px;
  }
}
}
.after-line{
  margin-bottom: 0;
  margin-top: 70px;
  &:before{
    display: none;
  }
  &:after{
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: #fff;
    top:65%;
    left: -100px;
  }
  @include breakpoint-md {
    &:after{
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #fff;
    top:65%;
    left: -60px;
  }
}

}
.token-line{
  img{
    width:100%;
  }
}
.token-main{
  margin-top: 0px;
  margin-bottom: 0px;
}
.distribution-container{
  @extend .description-container;
  background-image: url('../img/bg-team.png');
  margin-top: -120px;
  z-index: 5;
  
}
.distribution-heading{
  @extend .description-heading;
  margin-bottom: 40px;
  &:after{
    top: 79px;
    left: 17px;
    width: 165px;
    height: 7px;
    background-color: #F5AA00;
    @include breakpoint-xs {
    top:50px;
  }
}
}
.dist-xs-text{
  font-family: $font;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  p{
    margin: 0;
  }
 }
 .dist-xs-perst{
  font-family: $font;
  font-size: 29px;
  font-weight: 900;
  color: #fff;
 }
.distribution-text{
  font-family: $font;
  font-size: 18px;
  font-weight: 700;
  color: #fff; 
  margin-bottom: 5px;
  margin-top: 50px;
  @include breakpoint-xs {
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
  }
}
.distribution-number{
  font-family: $font;
  font-size: 45px;
  font-weight: 300;
  color: #fff; 
  @include breakpoint-xs {
    font-size: 29px;
  }
}
.distribution-bttn{
  border:none;
  background-color: transparent;
  font-family: $font;
  font-size: 24px;
  font-weight: 300;
  color: #fff; 
  margin-top: 50px;
  padding: 0;
  &:hover{
    outline: none;
    font-weight: 400;
  }
  &:focus{
    outline: none;
  }
}
.active-bttn{
  outline: none;
  font-weight: 500;
  &:before{
      content: ">";
      position: absolute;
      font-family: $font;
      font-size: 24px;
      font-weight: 500;
      left:-10px;
    }
}
.distribution-svg-container{
  position: relative;
  top: 25%;
}
.diagram-text{
  position: absolute;
  top: 17%;
  left: 24%;
  h1{
    font-family: $font;
    font-size: 100px;
    font-weight: 300;
    color: #fff;
    margin:0;
  }
  sup{
    font-family: $font;
    font-size: 50px;
    font-weight: 300;
    color: #fff;
  }
  p{
    font-family: $font;
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    margin:0;
  }
  
}
.join-bttn-container{
  background: linear-gradient(to top, #035796, #00D8FF);
  padding: 10px 0;
  border-radius: 100px;
  z-index: 10;
  margin-top: 100px;
  position: absolute;
  top:-185px;
}
.join-bttn-text{
  font-family: $font;
  font-size: 33px;
  font-weight: 300;
  color: #fff;
  p{
    margin: 0 20px 0 0;
  }
  h2{
    font-size: 61px;
    font-weight: 600;
  }
}
.buy-bttn-container{
  padding-top: 75px;
  padding-bottom: 60px;
  background-image: url(../img/buy-bg-xs.png);
  background-position: center;
  margin-top: 40px;
}

.team-heading{
  @extend .description-heading;
  margin-top: 80px;
  &:after{
    content: '';
    position: absolute;
    width: 165px;
    height: 7px;
    background-color: #F5AA00;
  }
  @include breakpoint-xs {
   margin-top: 20px;
  }
}
.team-member-container{
  width:23%;
  @include breakpoint-sm {
    width:80%;
    margin-top: 25px;
  }
  
}
.member-icon{
  position: relative;
}
.LK-icon{
  position: absolute;
  bottom: 18%;
  right:12% ;
  width:37px;
  height:37px;
  @include breakpoint-md {
    right: -12%;
  }
  @include breakpoint-sm {
    right: 0;
  }
  @include breakpoint-xs {
    right: -7;
    width:25px;
    height:25px;
  }
}
.LK-icon-2{
  position: absolute;
  bottom: 18%;
  right:12% ;
  width:37px;
  height:37px;
}
.member-info-sm{
   @include breakpoint-sm {
    padding-left: 25px;
  }
}
.member-name{
  font-family: $font;
  font-size: 24px;
  font-weight: 900;
  color: #fff;
  p{
    margin: 20px 0 0 0;
  }
  @include breakpoint-xs {
    font-size: 20px;
  }
}
.member-post{
  font-family: $font;
  font-size: 16px;
  font-weight: 500;
  color: #1DAEF5;
  p{
    margin: 0 0 5px 0;
  }
  @include breakpoint-xs {
    font-size: 10px;
  }
}
.member-text{
  font-family: $font;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  p{
    margin: 15px 0 0 0;
  }
  @include breakpoint-xs {
    font-size: 10px;
  }
}
.member-icon-image{
  @include breakpoint-xs {
    width: 80px;
    height: 80px;
  }
}
.team-row{
  margin-top: 70px;
  @include breakpoint-xs {
    margin-top: 0;
  }
}

.team-bttn-div{
  margin:70px 0;
  @include breakpoint-xs {
    margin:30px 0;
  }
}
.show-team-bttn{
  border: 1px solid #fff;
  background-color: transparent;
  font-family: $font;
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  padding: 10px 60px;
  border-radius: 30px;
  &:hover{
    outline:none;
    background-color: rgba(219, 219, 219, .47);
  }
  &:focus{
    outline: none;
  }
}
.hidden-bttn{
  display: none !important;
}
.hidden-team{
  display: none;
  margin-bottom: 70px;
  @include breakpoint-xs {
    margin-bottom:30px;
  }
}
.roadmap-container{
  @extend .explanation-container;
  z-index: 7;
  background: linear-gradient(to top, #39F0CF,#0063AE);
  padding-bottom: 190px;
}
.roadmap-heading{
  @extend .explanation-heading;
  
  &:after{
    content: '';
    position: absolute;
    width: 165px;
    height: 7px;
    background-color: #F5AA00;
  }
  position: absolute;
  top:7%;
  left:15%;
  @include breakpoint-md {
    top:4%;
    left:8%;
  }
}
.roadmap-svg{
  position: relative;
  top: -83px;
  left: 5%;
}
.roadmap-bttn{
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  font-family: $font;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-radius: 30px;
  padding: 10px 70px;
  &:hover{
    outline: none;
    background-color: rgba(255, 255, 255, .28);
  }
  &:focus{
    outline: none;
  }
  @include breakpoint-sm {
    margin-top: 40px;
    width:60%;
    padding: 10px 0
  }
  @include breakpoint-xs {
    margin-top: 20px;
    width:80%;
    padding: 10px 0
  }

}
.blockchain-container{
  @extend .explanation-container;
  z-index: 9;
  margin-top: -120px;
  padding-bottom: 190px;
}
.blockchain-text{
  @extend .explain-text;
  p{
    margin: 0;
  }
  margin-top: 20px;
  width:20%;
}
.blockchain-header-text{
  @extend .explanation-text;
  margin-bottom: 30px;
}
.blockchain-head-text{
  @extend .explain-text;
  color: #112A7C;
  font-weight: 700;
  margin-top: 30px;
  width:18%;
  p{
    margin: 0;
  }
}
.blockchain-icon{
  width:20%;
  @include breakpoint-md {
    width:100%;
  }
  @include breakpoint-xs {
    width: 100%;
    min-width: 120px;
    max-width: 130px;
  }
}


.md-blockchain-head-text{
  @extend .blockchain-head-text;
  width: auto;
}
.md-blockchain-text{
  @extend .blockchain-text;
  width: auto;
}
.blockchain-row-md{
  @extend .explain-row-md;
}
.buy-container{
  padding-top: 100px;
  padding-bottom:80px;
  background-image: url('../img/buy-bg.png');
  @include breakpoint-md {
    padding-top: 60px;
    padding-bottom:45px;
  }
  @include breakpoint-xs {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.buy-heading{
  font-family: $font;
  font-weight: 900;
  font-size: 48px;
  color: #fff;
  margin-bottom: 25px;
  @include breakpoint-xs {
    font-size: 29px;
  }
}
.footer-container{
  @extend .description-container;
  background-image: url('../img/bg-footer.png');
  z-index: 13;
}
.footer-social{
  @extend .header-social;
  margin-bottom: 30px;
  div{
    opacity: 1;
  }
}
.footer-text{
  font-family: $font;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  p{
    margin-bottom: 0;
  }
}
.contract-container{
  @extend .description-container;
  z-index: 8;
  padding-bottom: 200px;
}
.contract-heading{
  @extend .description-heading; 
  margin-top: 100px;
}
.contract-scroll{
 width: 900px;
 height: 400px;
 overflow: hidden;
 border:2px solid #0063AE;
  border-radius: 30px;
  margin-top: 50px;
  background-color: #0192C6;
  @include breakpoint-lg {
    width: 780px;
  }
  @include breakpoint-md {
    width: 580px;  
  }
  @include breakpoint-sm {
    width: 520px;   
  }
  @include breakpoint-xs {
    width: 100%;   
  }
}
.contract-block{
  width: 920px;
  height: 400px;
  overflow-y: auto;
  overflow-x:hidden;
  background-color: #0192C6;
  
  padding: 30px 20px;
  font-family: $font;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  @include breakpoint-lg {
    width: 800px;
    padding: 30px 40px 0 0; 
  }
  @include breakpoint-md {
    width: 600px;
  }
  @include breakpoint-sm {
    width: 540px;
  }
  @include breakpoint-xs {
    width: 107%;   
    overflow-x:auto;
    height: 107%;
  }
  

}

.contract-row{
  padding:0px 0px 0px 25px;
  display:none;
  white-space: pre;
   @include breakpoint-sm {
    padding: 0;
  }
}
.contract-row-2{
  padding:0px 0px 0px 25px;
  white-space: pre;
  opacity:0;
}
.contract-row .new{
  opacity: 0;
  
}
.contract-row .div_opacity{
  
  opacity: 1;
}
.contract-row .after{

  &:after{
    content: "|";
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    
  }
}
.contract-list{
  ul{
    padding-left: 20px;
    @include breakpoint-sm {
      padding-left: 10px;
    }
  }
  li{
    list-style-type: none;
  }
  
}
.span-red{
  color: red;
}
.Github-bttn{
  @extend .promo-bttn;
  margin-top: 50px;
  button{
    margin-bottom: 0;
  }
  
}
.token-crt-bttn{
  background-color: transparent;
  border:1px solid #fff;
  font-family: $font;
  font-size: 16px;
  color:#fff;
  font-weight: 700;
  width: 70%;
  margin-top: 50px;
  padding: 10px 0;
  
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  &:hover{
    outline: none;
    background-color: rgba(255,255,255,.3);
  }
  &:focus{
    outline: none;
  }
}
.token-focused{
  background-color: #fff;
  color: #112A7C;
  &:hover{
    outline: none;
    background-color: #fff;
  }
}
.token-mnr-bttn{
  @extend .token-crt-bttn;
  margin-top: 0;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px 0;
   margin-bottom: 30px;
}
.token-icons-sm{
  margin-top: 20px;
}
.token-text-sm{
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  font-family: $font;
  margin-top: 20px;
}
.token-miner-div{
  display: none;
}
.telegram-bttn{
  @extend .whitepaper-bttn;
  margin-top: 10px;
  padding: 12px 107px;
  background-image: url(../img/telegram-xs-icon.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-y:center;
  background-position-x:25px;  
}
.join-telegram-bttn{
  @extend .telegram-bttn;
  padding-right: 30px;
  padding-left: 55px;
  margin:0;
  @include breakpoint-md {
    background-image: none;
    padding: 9px 15px;
  }
}