.header-container {
  background-image: url("../img/bg-header.png");
  background-repeat: no-repeat; }
  @media only screen and (max-width: 992px) {
    .header-container {
      background-size: cover; } }
  @media only screen and (max-width: 768px) {
    .header-container {
      padding-bottom: 50px; } }

.viget-telegram {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 85%;
  right: 15%;
  z-index: 100; }
  @media only screen and (max-width: 992px) {
    .viget-telegram {
      width: 80px;
      height: 80px; } }
  @media only screen and (max-width: 992px) {
    .viget-telegram {
      right: 5%; } }

.hidden-menu {
  margin-top: 30px;
  display: none; }

.promo-bttn-menu {
  margin-top: 30px;
  width: 90%; }
  .promo-bttn-menu button {
    padding: 10px 0 !important;
    width: 100%; }

.whitepaper-bttn-menu {
  margin-bottom: 30px;
  padding: 10px 0 !important;
  width: 100%; }

.whitepaper-bttn-div {
  width: 90%; }

.fixed-header {
  z-index: 99999999;
  padding: 10px 15px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.not-showed {
  display: none; }

.showed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.blue {
  top: 0 !important;
  background-color: #0674B2; }

.bg-linear {
  background: -webkit-gradient(linear, left top, left bottom, from(#19584C), to(#052741));
  background: -webkit-linear-gradient(top, #19584C, #052741);
  background: -o-linear-gradient(top, #19584C, #052741);
  background: linear-gradient(to bottom, #19584C, #052741); }

.menu-button-div {
  width: 90%; }

.menu-button {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-align: left;
  color: #fff;
  border: none;
  background-color: transparent;
  background-image: url(../img/menu-arrow.png);
  background-position-x: 95%;
  background-position-y: center;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 0px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .menu-button:focus {
    outline: none; }

.header {
  padding-top: 150px;
  padding-bottom: 215px; }
  @media only screen and (max-width: 576px) {
    .header {
      padding-bottom: 150px;
      padding-top: 80px; } }

.header-links-container {
  top: 5px;
  padding: 5px 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.header-links {
  max-width: 1140px;
  margin: 0 auto; }

@media only screen and (max-width: 768px) {
  .header-logo {
    margin-bottom: 20px; } }

.menu-point-1, .menu-point-2, .menu-point-3, .menu-point-4 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold; }
  .menu-point-1 p, .menu-point-2 p, .menu-point-3 p, .menu-point-4 p {
    margin: 0; }
  .menu-point-1 a, .menu-point-2 a, .menu-point-3 a, .menu-point-4 a {
    color: #fff; }
    .menu-point-1 a:hover, .menu-point-2 a:hover, .menu-point-3 a:hover, .menu-point-4 a:hover {
      text-decoration: none; }
  .menu-point-1:hover::after, .menu-point-2:hover::after, .menu-point-3:hover::after, .menu-point-4:hover::after {
    content: '';
    width: 97px;
    height: 5px;
    background-color: #F7AC05;
    position: absolute; }

.menu-point-2:hover::after {
  width: 40px; }

.menu-point-3:hover::after {
  width: 70px; }

.menu-point-4:hover::after {
  width: 90px; }

.signBttn {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 9px 48px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.14);
  background: -webkit-gradient(linear, left bottom, left top, from(#FA940A), to(#F5CF00));
  background: -webkit-linear-gradient(bottom, #FA940A, #F5CF00);
  background: -o-linear-gradient(bottom, #FA940A, #F5CF00);
  background: linear-gradient(to top, #FA940A, #F5CF00); }
  .signBttn:hover {
    -webkit-box-shadow: inset 0 -3px 7px rgba(0, 0, 0, 0.14);
    box-shadow: inset 0 -3px 7px rgba(0, 0, 0, 0.14); }
  .signBttn:focus {
    outline: none; }

.header-slogan {
  color: #112A7C;
  font-size: 44px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin-bottom: 0px; }
  @media only screen and (max-width: 576px) {
    .header-slogan {
      color: #112A7C;
      font-size: 20px; } }
  .header-slogan p {
    margin-bottom: 0px; }

.slogan-text {
  color: #fff;
  font-size: 55px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin-bottom: 0; }
  @media only screen and (max-width: 576px) {
    .slogan-text {
      color: #fff;
      font-size: 29px; } }

.header-after-line:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: #F5AA00;
  left: 15px;
  top: 76%; }
  @media only screen and (max-width: 992px) {
    .header-after-line:after {
      top: 85%; } }
  @media only screen and (max-width: 768px) {
    .header-after-line:after {
      top: 75%; } }
  @media only screen and (max-width: 576px) {
    .header-after-line:after {
      display: none; } }

.header-text {
  color: #fff;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-right: 60px;
  margin-top: 20px;
  margin-left: 30px; }
  @media only screen and (max-width: 576px) {
    .header-text {
      font-size: 18px; } }
  .header-text p {
    margin: 0; }

.header-promo {
  background: -webkit-linear-gradient(300deg, #01ABDB, #03609D);
  background: -o-linear-gradient(300deg, #01ABDB, #03609D);
  background: linear-gradient(150deg, #01ABDB, #03609D);
  border-radius: 30px;
  padding: 30px 0px;
  padding-bottom: 35px; }
  @media only screen and (max-width: 992px) {
    .header-promo {
      margin-top: 30px; } }

.promo-heading {
  color: #fff;
  font-size: 27px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500; }
  @media only screen and (max-width: 576px) {
    .promo-heading {
      font-size: 17px; }
      .promo-heading p {
        margin-bottom: 5px; } }

.timer-circle {
  min-width: 83px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #fff;
  font-weight: 500;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.2);
  padding: 15px 20px; }
  .timer-circle p {
    margin: 0; }
  @media only screen and (max-width: 576px) {
    .timer-circle {
      min-width: 50px;
      font-size: 24px;
      padding: 5px 8px;
      border: 3px solid rgba(255, 255, 255, 0.2); } }

.unit-div {
  width: 94%; }
  @media only screen and (max-width: 768px) {
    .unit-div {
      width: 100%; } }
  @media only screen and (max-width: 576px) {
    .unit-div {
      width: 90%; } }

.timer-unit {
  width: 25%;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  color: #fff;
  font-weight: 500; }

.timer-points {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  color: #fff;
  font-weight: 400;
  margin: 0 5px; }
  .timer-points p {
    margin: 0; }
  @media only screen and (max-width: 576px) {
    .timer-points {
      font-size: 30px; } }

.header-promo-price {
  background-color: #1280B6;
  margin-top: 15px;
  padding: 5px 20px;
  border-radius: 40px;
  width: 90%;
  position: relative; }
  .header-promo-price p {
    margin: 0; }

.pre-label, .ico-label {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 700; }
  @media only screen and (max-width: 576px) {
    .pre-label, .ico-label {
      font-size: 9px; } }

.presale-price {
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: #fff;
  font-weight: 700;
  background: -webkit-linear-gradient(240deg, #01AEDC, #026FA9);
  background: -o-linear-gradient(240deg, #01AEDC, #026FA9);
  background: linear-gradient(210deg, #01AEDC, #026FA9);
  border-radius: 40px;
  padding: 5px 25px; }
  @media only screen and (max-width: 768px) {
    .presale-price {
      padding: 5px 15px; } }
  @media only screen and (max-width: 576px) {
    .presale-price {
      font-size: 16px;
      padding: 5px 10px; } }

.ico-price {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: #fff;
  font-weight: 300; }
  @media only screen and (max-width: 576px) {
    .ico-price {
      font-size: 16px; } }

.exchange-date {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  margin-top: 5px; }

.label-input {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  margin-top: 5px;
  margin-left: 25px; }
  .label-input p {
    margin: 0; }

.header-form {
  position: relative;
  background-color: #fff;
  border-radius: 30px;
  padding: 15px 0;
  height: 66px; }

.email-send {
  position: absolute;
  top: 17px;
  right: 25%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #035d9b; }

.join-bttn {
  position: absolute;
  left: 219px;
  top: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 21px 40px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background: -webkit-gradient(linear, left top, right top, from(#FC3D00), to(#F5AA00));
  background: -webkit-linear-gradient(left, #FC3D00, #F5AA00);
  background: -o-linear-gradient(left, #FC3D00, #F5AA00);
  background: linear-gradient(to right, #FC3D00, #F5AA00); }
  .join-bttn:focus {
    outline: none; }
  @media only screen and (max-width: 1200px) {
    .join-bttn {
      left: 224px; } }
  @media only screen and (max-width: 768px) {
    .join-bttn {
      left: 193px; } }

.join-input-div {
  width: 55%;
  margin-left: 5px; }

.join-input {
  height: 100%;
  width: 100%;
  border: none;
  padding: 5px 0; }
  .join-input:focus {
    outline: none; }
  .join-input::-webkit-input-placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #6A6A6A; }
  .join-input::-moz-placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #6A6A6A; }
  .join-input:-ms-input-placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #6A6A6A; }

.promo-bttn button, .promo-bttn-menu button, .promo-bttn-header button, .Github-bttn button {
  font-family: "Montserrat", sans-serif;
  font-size: 29px;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 55px;
  background: -webkit-gradient(linear, left top, right top, from(#FA940A), to(#F5CF00));
  background: -webkit-linear-gradient(left, #FA940A, #F5CF00);
  background: -o-linear-gradient(left, #FA940A, #F5CF00);
  background: linear-gradient(to right, #FA940A, #F5CF00);
  margin-bottom: 30px; }
  .promo-bttn button:focus, .promo-bttn-menu button:focus, .promo-bttn-header button:focus, .Github-bttn button:focus {
    outline: none; }
  @media only screen and (max-width: 576px) {
    .promo-bttn button, .promo-bttn-menu button, .promo-bttn-header button, .Github-bttn button {
      font-size: 17px;
      margin-bottom: 15px; } }

.promo-bttn-header button {
  margin-bottom: 0;
  margin-top: 30px; }

.text-header-xs {
  color: #fff;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin-top: 20px; }

.header-reasons {
  margin-top: 100px; }
  @media only screen and (max-width: 768px) {
    .header-reasons {
      margin-top: 45px; } }

.reasons-container {
  color: #fff;
  font-size: 21px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }
  .reasons-container button {
    background-color: transparent;
    border: none;
    color: #112A7C;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    outline: none; }
    .reasons-container button:hover {
      font-weight: 700;
      outline: none; }
    .reasons-container button:focus {
      outline: none; }
    @media only screen and (max-width: 768px) {
      .reasons-container button {
        font-size: 14px; } }
  @media only screen and (max-width: 768px) {
    .reasons-container {
      font-size: 16px; } }

.whitepaper-bttn, .whitepaper-bttn-menu, .telegram-bttn, .join-telegram-bttn {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 12px 75px;
  background-color: transparent; }
  .whitepaper-bttn:hover, .whitepaper-bttn-menu:hover, .telegram-bttn:hover, .join-telegram-bttn:hover {
    background-color: rgba(255, 255, 255, 0.3); }
  .whitepaper-bttn:focus, .whitepaper-bttn-menu:focus, .telegram-bttn:focus, .join-telegram-bttn:focus {
    outline: none; }

.header-social, .footer-social {
  margin-top: 50px; }

.social-icon {
  width: 45px;
  opacity: .5; }

.close {
  font-size: 2.5rem; }
  .close:focus {
    outline: none; }

.my-modal {
  padding: 20px 30px;
  border-radius: 20px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #000000; }
  .my-modal b {
    font-weight: 900; }

.my-modal-header {
  font-size: 29px;
  font-weight: 900;
  margin-bottom: 40px; }
  .my-modal-header:after {
    content: '';
    position: absolute;
    width: 165px;
    height: 7px;
    background-color: #F5AA00; }

.negative-margin {
  margin-top: -130px; }

.users-container, .market-container {
  background-image: url("../img/Users_bg.png");
  padding: 50px 80px 135px 0;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 30px;
  z-index: 1;
  border-top-left-radius: 125px;
  border-top-right-radius: 0px;
  background-size: cover; }
  @media only screen and (max-width: 1200px) {
    .users-container, .market-container {
      padding: 50px 20px 135px 0; } }
  @media only screen and (max-width: 992px) {
    .users-container, .market-container {
      border-top-left-radius: 105px; } }
  @media only screen and (max-width: 768px) {
    .users-container, .market-container {
      border-top-left-radius: 80px;
      border-top-right-radius: 80px;
      margin-top: -40px; } }
  @media only screen and (max-width: 576px) {
    .users-container, .market-container {
      border-top-left-radius: 40px !important;
      border-top-right-radius: 40px; } }

.users-number, .market-number {
  font-size: 120px;
  font-weight: 900;
  line-height: 1; }
  @media only screen and (max-width: 576px) {
    .users-number, .market-number {
      font-size: 73px; } }

.users-unit, .market-unit {
  font-size: 36px;
  font-weight: 900;
  max-width: 260px; }
  @media only screen and (max-width: 768px) {
    .users-unit, .market-unit {
      max-width: 135px; } }
  @media only screen and (max-width: 576px) {
    .users-unit, .market-unit {
      font-size: 25px; } }

.users-heading, .market-heading {
  margin-bottom: 5px;
  white-space: pre-wrap; }
  @media only screen and (max-width: 576px) {
    .users-heading, .market-heading {
      font-size: 20px; } }

.market-container {
  background-image: url("../img/Market_bg.png");
  padding-left: 80px;
  border-top-right-radius: 125px;
  border-top-left-radius: 0px; }
  @media only screen and (max-width: 1200px) {
    .market-container {
      padding-left: 20px; } }
  @media only screen and (max-width: 992px) {
    .market-container {
      border-top-right-radius: 105px; } }
  @media only screen and (max-width: 768px) {
    .market-container {
      border-top-left-radius: 80px;
      border-top-right-radius: 80px;
      margin-top: -75px; } }
  @media only screen and (max-width: 576px) {
    .market-container {
      border-top-left-radius: 40px;
      border-top-right-radius: 40px; } }

.market-unit {
  line-height: 1; }

.description-container, .explanation-container, .roadmap-container, .blockchain-container, .token-container, .distribution-container, .footer-container, .contract-container {
  margin-top: -112px;
  position: relative;
  background-color: #fff;
  z-index: 2;
  border-top-left-radius: 125px;
  border-top-right-radius: 125px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-top: 90px;
  padding-bottom: 190px;
  background-image: url("../img/bg-description.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 992px) {
    .description-container, .explanation-container, .roadmap-container, .blockchain-container, .token-container, .distribution-container, .footer-container, .contract-container {
      border-top-left-radius: 105px;
      border-top-right-radius: 105px;
      padding-top: 80px; } }
  @media only screen and (max-width: 768px) {
    .description-container, .explanation-container, .roadmap-container, .blockchain-container, .token-container, .distribution-container, .footer-container, .contract-container {
      border-top-left-radius: 80px;
      border-top-right-radius: 80px;
      padding-top: 60px; } }
  @media only screen and (max-width: 576px) {
    .description-container, .explanation-container, .roadmap-container, .blockchain-container, .token-container, .distribution-container, .footer-container, .contract-container {
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      padding-top: 30px; } }

.description-heading, .explanation-heading, .roadmap-heading, .token-heading, .distribution-heading, .team-heading, .contract-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 47px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 30px; }
  .description-heading:after, .explanation-heading:after, .roadmap-heading:after, .token-heading:after, .distribution-heading:after, .team-heading:after, .contract-heading:after {
    content: '';
    position: absolute;
    width: 165px;
    height: 7px;
    background-color: #F5AA00; }
  @media only screen and (max-width: 576px) {
    .description-heading, .explanation-heading, .roadmap-heading, .token-heading, .distribution-heading, .team-heading, .contract-heading {
      font-size: 29px; } }

.description-text, .explanation-text, .blockchain-header-text {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: #fff; }
  @media only screen and (max-width: 576px) {
    .description-text, .explanation-text, .blockchain-header-text {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 20px; } }

.feature-number {
  font-family: "Montserrat", sans-serif;
  font-size: 90px;
  font-weight: 900;
  color: #fff;
  white-space: pre;
  margin-right: 20px; }
  @media only screen and (max-width: 576px) {
    .feature-number {
      font-size: 50px; } }

.feature-name {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 900;
  color: #fff;
  white-space: pre-wrap; }
  @media only screen and (max-width: 992px) {
    .feature-name {
      white-space: normal; } }
  @media only screen and (max-width: 576px) {
    .feature-name {
      width: 80%;
      font-size: 22px; } }

.explanation-container, .roadmap-container, .blockchain-container {
  background-image: url("../img/bg-explanation.png");
  background-position-y: 10%;
  margin-top: -170px;
  z-index: 3;
  padding-bottom: 240px; }
  @media only screen and (max-width: 992px) {
    .explanation-container, .roadmap-container, .blockchain-container {
      padding-bottom: 200px; } }

.explanation-heading, .roadmap-heading {
  color: #fff; }

.explanation-text, .blockchain-header-text {
  color: #fff;
  margin-bottom: 50px; }

.explain-icon {
  width: 20%; }
  @media only screen and (max-width: 992px) {
    .explain-icon {
      width: 100%; } }
  @media only screen and (max-width: 576px) {
    .explain-icon {
      max-width: 130px;
      min-width: 120px; } }

.explain-text, .md-explain-text, .blockchain-text, .md-blockchain-text, .blockchain-head-text, .md-blockchain-head-text {
  width: 20%;
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff; }

.md-explain-text {
  width: auto; }
  @media only screen and (max-width: 576px) {
    .md-explain-text {
      font-size: 14px;
      font-weight: 300;
      margin-top: 30px; } }

.explain-icon-container-1 {
  padding: 35px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 92, 160, 0.4)), to(rgba(12, 38, 96, 0.4)));
  background: -webkit-linear-gradient(left, rgba(13, 92, 160, 0.4), rgba(12, 38, 96, 0.4));
  background: -o-linear-gradient(left, rgba(13, 92, 160, 0.4), rgba(12, 38, 96, 0.4));
  background: linear-gradient(to right, rgba(13, 92, 160, 0.4), rgba(12, 38, 96, 0.4)); }
  @media only screen and (max-width: 576px) {
    .explain-icon-container-1 {
      width: 100%;
      max-width: 170px; } }

.explain-icon-container-2 {
  border-radius: 50%;
  padding: 40px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 92, 160, 0.4)), to(rgba(12, 38, 96, 0.4)));
  background: -webkit-linear-gradient(left, rgba(13, 92, 160, 0.4), rgba(12, 38, 96, 0.4));
  background: -o-linear-gradient(left, rgba(13, 92, 160, 0.4), rgba(12, 38, 96, 0.4));
  background: linear-gradient(to right, rgba(13, 92, 160, 0.4), rgba(12, 38, 96, 0.4)); }
  @media only screen and (max-width: 576px) {
    .explain-icon-container-2 {
      width: 70%;
      max-width: 170px; } }

.explain-icon-container-3 {
  padding: 35px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 92, 160, 0.4)), to(rgba(12, 38, 96, 0.4)));
  background: -webkit-linear-gradient(left, rgba(13, 92, 160, 0.4), rgba(12, 38, 96, 0.4));
  background: -o-linear-gradient(left, rgba(13, 92, 160, 0.4), rgba(12, 38, 96, 0.4));
  background: linear-gradient(to right, rgba(13, 92, 160, 0.4), rgba(12, 38, 96, 0.4)); }
  @media only screen and (max-width: 576px) {
    .explain-icon-container-3 {
      width: 120%;
      max-width: 170px;
      margin-top: 10px; } }

.explain-row-md, .blockchain-row-md {
  margin-top: 40px; }

.token-container {
  margin-top: -125px;
  background-image: url("../img/token_bg.png");
  background-position: center;
  background-size: cover;
  background-color: #0C2559;
  z-index: 4; }
  @media only screen and (max-width: 768px) {
    .token-container {
      padding-bottom: 160px; } }

.margin-top {
  margin-top: 40px;
  margin-bottom: 0 !important; }

.token-heading {
  color: #fff;
  margin-bottom: 80px; }
  .token-heading:after {
    content: '';
    position: absolute;
    width: 165px;
    height: 7px;
    background-color: #F5AA00; }
  @media only screen and (max-width: 1200px) {
    .token-heading {
      margin-bottom: 40px; } }
  @media only screen and (max-width: 992px) {
    .token-heading {
      margin-bottom: 0px; } }

.token-icons {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 50px; }

.token-text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff; }
  .token-text:before {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: #fff;
    top: 30%;
    left: -100px; }
  @media only screen and (max-width: 992px) {
    .token-text:before {
      content: '';
      position: absolute;
      width: 40px;
      height: 2px;
      background-color: #fff;
      top: 30%;
      left: -60px; } }

.after-line {
  margin-bottom: 0;
  margin-top: 70px; }
  .after-line:before {
    display: none; }
  .after-line:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: #fff;
    top: 65%;
    left: -100px; }
  @media only screen and (max-width: 992px) {
    .after-line:after {
      content: '';
      position: absolute;
      width: 40px;
      height: 2px;
      background-color: #fff;
      top: 65%;
      left: -60px; } }

.token-line img {
  width: 100%; }

.token-main {
  margin-top: 0px;
  margin-bottom: 0px; }

.distribution-container {
  background-image: url("../img/bg-team.png");
  margin-top: -120px;
  z-index: 5; }

.distribution-heading {
  margin-bottom: 40px; }
  .distribution-heading:after {
    top: 79px;
    left: 17px;
    width: 165px;
    height: 7px;
    background-color: #F5AA00; }
    @media only screen and (max-width: 576px) {
      .distribution-heading:after {
        top: 50px; } }

.dist-xs-text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff; }
  .dist-xs-text p {
    margin: 0; }

.dist-xs-perst {
  font-family: "Montserrat", sans-serif;
  font-size: 29px;
  font-weight: 900;
  color: #fff; }

.distribution-text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 5px;
  margin-top: 50px; }
  @media only screen and (max-width: 576px) {
    .distribution-text {
      font-size: 14px;
      font-weight: 500;
      margin-top: 20px; } }

.distribution-number {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-weight: 300;
  color: #fff; }
  @media only screen and (max-width: 576px) {
    .distribution-number {
      font-size: 29px; } }

.distribution-bttn {
  border: none;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  margin-top: 50px;
  padding: 0; }
  .distribution-bttn:hover {
    outline: none;
    font-weight: 400; }
  .distribution-bttn:focus {
    outline: none; }

.active-bttn {
  outline: none;
  font-weight: 500; }
  .active-bttn:before {
    content: ">";
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 500;
    left: -10px; }

.distribution-svg-container {
  position: relative;
  top: 25%; }

.diagram-text {
  position: absolute;
  top: 17%;
  left: 24%; }
  .diagram-text h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 100px;
    font-weight: 300;
    color: #fff;
    margin: 0; }
  .diagram-text sup {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    font-weight: 300;
    color: #fff; }
  .diagram-text p {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    margin: 0; }

.join-bttn-container {
  background: -webkit-gradient(linear, left bottom, left top, from(#035796), to(#00D8FF));
  background: -webkit-linear-gradient(bottom, #035796, #00D8FF);
  background: -o-linear-gradient(bottom, #035796, #00D8FF);
  background: linear-gradient(to top, #035796, #00D8FF);
  padding: 10px 0;
  border-radius: 100px;
  z-index: 10;
  margin-top: 100px;
  position: absolute;
  top: -185px; }

.join-bttn-text {
  font-family: "Montserrat", sans-serif;
  font-size: 33px;
  font-weight: 300;
  color: #fff; }
  .join-bttn-text p {
    margin: 0 20px 0 0; }
  .join-bttn-text h2 {
    font-size: 61px;
    font-weight: 600; }

.buy-bttn-container {
  padding-top: 75px;
  padding-bottom: 60px;
  background-image: url(../img/buy-bg-xs.png);
  background-position: center;
  margin-top: 40px; }

.team-heading {
  margin-top: 80px; }
  .team-heading:after {
    content: '';
    position: absolute;
    width: 165px;
    height: 7px;
    background-color: #F5AA00; }
  @media only screen and (max-width: 576px) {
    .team-heading {
      margin-top: 20px; } }

.team-member-container {
  width: 23%; }
  @media only screen and (max-width: 768px) {
    .team-member-container {
      width: 80%;
      margin-top: 25px; } }

.member-icon {
  position: relative; }

.LK-icon {
  position: absolute;
  bottom: 18%;
  right: 12%;
  width: 37px;
  height: 37px; }
  @media only screen and (max-width: 992px) {
    .LK-icon {
      right: -12%; } }
  @media only screen and (max-width: 768px) {
    .LK-icon {
      right: 0; } }
  @media only screen and (max-width: 576px) {
    .LK-icon {
      right: -7;
      width: 25px;
      height: 25px; } }

.LK-icon-2 {
  position: absolute;
  bottom: 18%;
  right: 12%;
  width: 37px;
  height: 37px; }

@media only screen and (max-width: 768px) {
  .member-info-sm {
    padding-left: 25px; } }

.member-name {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #fff; }
  .member-name p {
    margin: 20px 0 0 0; }
  @media only screen and (max-width: 576px) {
    .member-name {
      font-size: 20px; } }

.member-post {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #1DAEF5; }
  .member-post p {
    margin: 0 0 5px 0; }
  @media only screen and (max-width: 576px) {
    .member-post {
      font-size: 10px; } }

.member-text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff; }
  .member-text p {
    margin: 15px 0 0 0; }
  @media only screen and (max-width: 576px) {
    .member-text {
      font-size: 10px; } }

@media only screen and (max-width: 576px) {
  .member-icon-image {
    width: 80px;
    height: 80px; } }

.team-row {
  margin-top: 70px; }
  @media only screen and (max-width: 576px) {
    .team-row {
      margin-top: 0; } }

.team-bttn-div {
  margin: 70px 0; }
  @media only screen and (max-width: 576px) {
    .team-bttn-div {
      margin: 30px 0; } }

.show-team-bttn {
  border: 1px solid #fff;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  padding: 10px 60px;
  border-radius: 30px; }
  .show-team-bttn:hover {
    outline: none;
    background-color: rgba(219, 219, 219, 0.47); }
  .show-team-bttn:focus {
    outline: none; }

.hidden-bttn {
  display: none !important; }

.hidden-team {
  display: none;
  margin-bottom: 70px; }
  @media only screen and (max-width: 576px) {
    .hidden-team {
      margin-bottom: 30px; } }

.roadmap-container {
  z-index: 7;
  background: -webkit-gradient(linear, left bottom, left top, from(#39F0CF), to(#0063AE));
  background: -webkit-linear-gradient(bottom, #39F0CF, #0063AE);
  background: -o-linear-gradient(bottom, #39F0CF, #0063AE);
  background: linear-gradient(to top, #39F0CF, #0063AE);
  padding-bottom: 190px; }

.roadmap-heading {
  position: absolute;
  top: 7%;
  left: 15%; }
  .roadmap-heading:after {
    content: '';
    position: absolute;
    width: 165px;
    height: 7px;
    background-color: #F5AA00; }
  @media only screen and (max-width: 992px) {
    .roadmap-heading {
      top: 4%;
      left: 8%; } }

.roadmap-svg {
  position: relative;
  top: -83px;
  left: 5%; }

.roadmap-bttn {
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-radius: 30px;
  padding: 10px 70px; }
  .roadmap-bttn:hover {
    outline: none;
    background-color: rgba(255, 255, 255, 0.28); }
  .roadmap-bttn:focus {
    outline: none; }
  @media only screen and (max-width: 768px) {
    .roadmap-bttn {
      margin-top: 40px;
      width: 60%;
      padding: 10px 0; } }
  @media only screen and (max-width: 576px) {
    .roadmap-bttn {
      margin-top: 20px;
      width: 80%;
      padding: 10px 0; } }

.blockchain-container {
  z-index: 9;
  margin-top: -120px;
  padding-bottom: 190px; }

.blockchain-text, .md-blockchain-text {
  margin-top: 20px;
  width: 20%; }
  .blockchain-text p, .md-blockchain-text p {
    margin: 0; }

.blockchain-header-text {
  margin-bottom: 30px; }

.blockchain-head-text, .md-blockchain-head-text {
  color: #112A7C;
  font-weight: 700;
  margin-top: 30px;
  width: 18%; }
  .blockchain-head-text p, .md-blockchain-head-text p {
    margin: 0; }

.blockchain-icon {
  width: 20%; }
  @media only screen and (max-width: 992px) {
    .blockchain-icon {
      width: 100%; } }
  @media only screen and (max-width: 576px) {
    .blockchain-icon {
      width: 100%;
      min-width: 120px;
      max-width: 130px; } }

.md-blockchain-head-text {
  width: auto; }

.md-blockchain-text {
  width: auto; }

.buy-container {
  padding-top: 100px;
  padding-bottom: 80px;
  background-image: url("../img/buy-bg.png"); }
  @media only screen and (max-width: 992px) {
    .buy-container {
      padding-top: 60px;
      padding-bottom: 45px; } }
  @media only screen and (max-width: 576px) {
    .buy-container {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; } }

.buy-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: #fff;
  margin-bottom: 25px; }
  @media only screen and (max-width: 576px) {
    .buy-heading {
      font-size: 29px; } }

.footer-container {
  background-image: url("../img/bg-footer.png");
  z-index: 13; }

.footer-social {
  margin-bottom: 30px; }
  .footer-social div {
    opacity: 1; }

.footer-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #fff; }
  .footer-text p {
    margin-bottom: 0; }

.contract-container {
  z-index: 8;
  padding-bottom: 200px; }

.contract-heading {
  margin-top: 100px; }

.contract-scroll {
  width: 900px;
  height: 400px;
  overflow: hidden;
  border: 2px solid #0063AE;
  border-radius: 30px;
  margin-top: 50px;
  background-color: #0192C6; }
  @media only screen and (max-width: 1200px) {
    .contract-scroll {
      width: 780px; } }
  @media only screen and (max-width: 992px) {
    .contract-scroll {
      width: 580px; } }
  @media only screen and (max-width: 768px) {
    .contract-scroll {
      width: 520px; } }
  @media only screen and (max-width: 576px) {
    .contract-scroll {
      width: 100%; } }

.contract-block {
  width: 920px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #0192C6;
  padding: 30px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff; }
  @media only screen and (max-width: 1200px) {
    .contract-block {
      width: 800px;
      padding: 30px 40px 0 0; } }
  @media only screen and (max-width: 992px) {
    .contract-block {
      width: 600px; } }
  @media only screen and (max-width: 768px) {
    .contract-block {
      width: 540px; } }
  @media only screen and (max-width: 576px) {
    .contract-block {
      width: 107%;
      overflow-x: auto;
      height: 107%; } }

.contract-row {
  padding: 0px 0px 0px 25px;
  display: none;
  white-space: pre; }
  @media only screen and (max-width: 768px) {
    .contract-row {
      padding: 0; } }

.contract-row-2 {
  padding: 0px 0px 0px 25px;
  white-space: pre;
  opacity: 0; }

.contract-row .new {
  opacity: 0; }

.contract-row .div_opacity {
  opacity: 1; }

.contract-row .after:after {
  content: "|";
  color: #fff;
  font-weight: 700;
  font-size: 18px; }

.contract-list ul {
  padding-left: 20px; }
  @media only screen and (max-width: 768px) {
    .contract-list ul {
      padding-left: 10px; } }

.contract-list li {
  list-style-type: none; }

.span-red {
  color: red; }

.Github-bttn {
  margin-top: 50px; }
  .Github-bttn button {
    margin-bottom: 0; }

.token-crt-bttn, .token-mnr-bttn {
  background-color: transparent;
  border: 1px solid #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  margin-top: 50px;
  padding: 10px 90px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px; }
  .token-crt-bttn:hover, .token-mnr-bttn:hover {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3); }
  .token-crt-bttn:focus, .token-mnr-bttn:focus {
    outline: none; }

.token-focused {
  background-color: #fff;
  color: #112A7C; }
  .token-focused:hover {
    outline: none;
    background-color: #fff; }

.token-mnr-bttn {
  margin-top: 0;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px 77px;
  margin-bottom: 30px; }

.token-icons-sm {
  margin-top: 20px; }

.token-text-sm {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px; }

.token-miner-div {
  display: none; }

.telegram-bttn, .join-telegram-bttn {
  margin-top: 10px;
  padding: 12px 107px;
  background-image: url(../img/telegram-xs-icon.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 25px; }

.join-telegram-bttn {
  padding-right: 30px;
  padding-left: 55px;
  margin: 0; }
  @media only screen and (max-width: 992px) {
    .join-telegram-bttn {
      background-image: none;
      padding: 9px 15px; } }
